---
import { Image } from "astro:assets";
import TechBadge from "../tech-badge.astro";
import { type ImageMetadata } from "astro";
import PrimaryButton from "../buttons/primary-button.astro";
import SecondaryButton from "../buttons/secondary-button.astro";

interface Props {
  type: string;
  title: string;
  techs: string[];
  description: string;
  deploy: string;
  repo: string;
  image: ImageMetadata;
}

const { type, title, techs, description, deploy, repo, image } = Astro.props;
---

<article
  class="flex flex-col-reverse sm:grid grid-cols-5 gap-6 rounded-xl bg-gradient-to-t from-foreground-darker to-background overflow-hidden"
>
  <div class="col-span-3 flex flex-col gap-6 px-6 py-10">
    <div class="flex flex-col gap-2">
      <p
        class="font-mono text-base uppercase text-accent leading-[1] tracking-wider"
      >
        {type}
      </p>
      <h3
        class="font-bold tracking-tight flex flex-col gap-1 text-3xl leading-[1] -mt-1"
      >
        {title}
      </h3>
    </div>
    <div class="flex flex-col gap-1">
      <p class="font-mono text-base text-foreground-muted/50">Tech Stack:</p>
      <ul class="flex gap-1.5 flex-wrap font-mono">
        {techs.map((tech) => <TechBadge tech={tech} />)}
      </ul>
    </div>
    <p class="text-foreground-muted">
      {description}
    </p>
    <div class="mt-auto flex flex-col sm:flex-row items-center gap-4">
      <PrimaryButton href={deploy} className="w-full sm:w-auto text-center"
        >getDeploy()</PrimaryButton
      >
      <SecondaryButton href={repo}>Visit Repo</SecondaryButton>
    </div>
  </div>
  <div class="col-span-2 overflow-hidden">
    <Image
      src={image}
      alt={`${title} Mockup`}
      class="object-cover hover:scale-125 transition-transform h-[300px] sm:min-h-[400px]"
    />
  </div>
</article>
